html {
    scroll-behavior: smooth;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255, 0.9);
    z-index: -1;
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.header-slide {
    transition: opacity 1.5s ease;
    position: absolute;
    inset: 0;
    opacity: 0;
}

.header-slide.active {
    opacity: 1;
    z-index: 1;
}

.faq-content {
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;
}

.faq-content.open {
    max-height: 200px;
    padding: 0.5rem 1rem;
}

#mobile-menu {
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 40;
}

#mobile-menu.active {
    transform: translateX(0);
}

